* {
    margin: 0px;
    padding: 0px;
    font-family: Poppins, sans-serif;
}

:root {
    --primary-bg-color: rgb(255, 255, 255);
    --secondary-bg-color: rgb(0, 0, 0);
}

html {
    scroll-behavior: smooth;
}

/* body{
     width: 85%;
    max-width: 1200px;
    margin: 0 auto; 
} */
.warper {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}

.Full-white {
    background-color: var(--primary-bg-color);
}

.Full-black {
    background: var(--secondary-bg-color);
    padding: 20px 0px;

}

header {
    background-color: var(--primary-bg-color);
}

nav {
    width: 100%;
    height: 50px;
    /* border: 2px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.left-nav ul {
    display: flex;
    gap: 50px;
    color: black;
    position: relative;
    left: 20px;
}

.left-nav ul li {
    list-style: none;
}

.left-nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: #000;
}

.resume {
    padding: 10px 25px;
    border-radius: 5px;
    color: white;
    background: #000;
    font-weight: bold;
    border: none;
    position: relative;
    right: 20px;
}

.hero-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.left-hero h1 {
    position: relative;
    bottom: 30px;
    font-weight: 400;
}

.h1-dark {
    font-weight: 700;
}

.h1-light {
    font-weight: 900;
    color: white;
    -webkit-text-stroke: 1px black;
}

.logo-warper {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    align-items: center;
    position: relative;
    top: 60px;
}

.hero-logo {
    font-size: 25px;
}

/* ------------------------- end of Hero Section ------------------------------ */
.Skill-Section {


    min-height: 100dvh;
}

.skill-title {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;


}

.thin-highlight {
    font-weight: 500;
}

.h2-highlight {
    font-weight: 700;

}

.skill-grid {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    margin-bottom: 30px;

    /* border: 1px solid; */

}

.skill-box {
    width: 100%;
    height: 187px;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

}

.skill-logo {
    /* display: block; */
    font-size: 40px;
}

.black {
    background-color: var(--secondary-bg-color);
}

.fa-css3-alt {
    color: white;
}

.black h3 {
    color: white;
}

/* ------------------------------end of the skill ----------------- */
.about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;


}

.about-me-left {
    border: 2px solid var(--secondary-bg-color);
    /* margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 0px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center; */

    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

.about-me-left img {
    width: 80%;
    height: 80%;
}

.about-me-right {
    width: 45%;

    margin: 0px 20px;


}

.about-me-right h2 {
    margin-bottom: 30px;
}

/* ---------------------------------- end of about me -------------------- */

.My-Project {
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-height: 100vh;
    width: 100%;
}

.project-title {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 20px; */
    /* padding: 20px 0px; */

}

.whitener {
    color: var(--primary-bg-color);
}

.project-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid white; */
}

.project-info {
    width: 45%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* border: 2px solid white; */
}

.project-image {
    width: 45%;
    display: flex;
    justify-content: start;
    align-items: center;
    /* border: 2px solid white; */

}

.project-image img {
    border-radius: 10px;
}

/* --------------------------------- end of the project section ------------------------- */

.Contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh
}

.Contact-left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.Contact-title {
    position: relative;
    bottom: 130px;
}

footer {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-bg-color);
}

footer p {
    color: var(--primary-bg-color);
}



@media screen and (max-width: 1000px){
  
.left-nav {
  display: flex;
  position: absolute;
  top: 50px;
  left: -105%; 
  width: 100%;
  background: rgb(0, 0, 0);
  padding: 20px 0;
  transition: left 0.3s ease-in-out;
  justify-content: center;
  border-top: 1px solid #ddd;
  border: 1px solid white;
  border-radius: 10px;
  z-index: 100;
}

.left-nav ul {
  flex-direction: column;
  gap: 25px;
  text-align: center;
}
.left-nav ul li {
position: relative;
left: -25px
}
.left-nav ul li a{
 color: #ffffff;
}

.left-nav.active {
  left: 0;
}

  .warper {
    width: 95%;
    margin: 0 auto;
}
.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
    gap: 30px;
    margin-bottom: 30px;
    height: auto;

}
.right-hero img{
    width: 80%;
    
}
.right-hero {
    text-align: center;
    
}

.project-tab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.project-tab.even{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.project-info {
    width: 90%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* border: 2px solid white; */
}

.project-image {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid white; */

}
.skill-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
     gap: 20px;
    margin-bottom: 15px;

}

.about-me{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
/* .left-nav{
display: none;
} */

.Contact-right{
    display: none;
}

.about-me-left {
    border: 2px solid var(--secondary-bg-color);
    /* margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 0px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center; */

    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

.about-me-left img {
    width: 80%;
    height: 80%;
}
.about-me-right {
    width: 90%;

    /* margin: 0px 20px; */


}
.Contact-title {
    position: relative;
    bottom: 100px;
}
.logo-warper {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    position: relative;
    top: 60px;
}
.Contact-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer p {
    color: var(--primary-bg-color);
    font-size: 10px;
}
.hamburger {
  display: block;
  font-size: 28px;
  cursor: pointer;
  color: #000;
}
}














@media screen and (max-width: 500px) {
  .warper {
    width: 95%;
    margin: 0 auto;
}
.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
    gap: 30px;
    margin-bottom: 30px;

}
.right-hero img{
    width: 90vw;
}

.project-tab{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.project-tab.even{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.project-info {
    width: 90%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* border: 2px solid white; */
}

.project-image {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid white; */

}
.skill-grid{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    justify-content: center;
     gap: 20px;
    margin-bottom: 15px;

}

.about-me{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
/* .left-nav{
 display: none;
} */
.Contact-right{
    display: none;
}

.about-me-left {
    border: 2px solid var(--secondary-bg-color);
    /* margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 0px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center; */

    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

.about-me-left img {
    width: 80%;
    height: 80%;
}
.about-me-right {
    width: 90%;

    /* margin: 0px 20px; */


}
.Contact-title {
    position: relative;
    bottom: 100px;
}
.logo-warper {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    position: relative;
    top: 60px;
}
.Contact-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer p {
    color: var(--primary-bg-color);
    font-size: 10px;
}
.hamburger {
  display: block;
  font-size: 28px;
  cursor: pointer;
  color: #000;
}
} 